
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">
      <h1 class="logo me-auto"><a href=""><img src="favicon.png" alt=""></a></h1>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>

          <li><a class="nav-link scrollto active" [routerLink]="'/'"><i class='bx bx-home-alt-2 bx-sm'></i> Inicio</a></li>
          <li><a class="nav-link scrollto" [routerLink]="'/nosotros'"><i class='bx bxs-business bx-sm'></i>Nosotros</a></li>
          <li><a class="nav-link scrollto" [routerLink]="'/servicios'"><i class='bx bxs-briefcase-alt-2 bx-sm'></i>Servicios</a>
          </li>
          <li><a class="nav-link scrollto " [routerLink]="'/producto'"><i class='bx bxs-wrench bx-sm'></i>Producto</a></li>
          <li><a class="nav-link scrollto " [routerLink]="'/marcas'"><i class='bx bxs-shield-alt-2 bx-sm'></i>Marcas</a></li>
<!--
          <li><a class="nav-link scrollto" href="#team"><i class='bx bxs-user bx-sm'></i>Equipo</a></li>
-->      
          <li><a class="nav-link scrollto" [routerLink]="'/contactenos'"><i class='bx bxs-contact bx-sm'></i> Contáctenos</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->